body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('../images/bg2.png');
    background-size: cover;
    background-position: center;
}

canvas {
    position: absolute;
    z-index: -1;
    background-color: black;
    border-radius: 5px;
    display: none;
}

.landscape {
    display: none;
}

.div_sharkie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display_none {
    display: none;
}

.game_menu {
    position: relative;
    background-color: rgba(255, 255, 255, 0.100);
    width: 720px;
    height: 480px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn_menu {
    background-color: #592988;
    border-radius: 10px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.541);
    width: 300px;
    height: 35px;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.btn_menu:hover {
    background-color: #cd2080;
    scale: 1.03;
}

.sharkie_text {
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin: 0;
}

.sharkie_img {
    width: 150px;
}

.try_again {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.repolnsive_start {
    display: none;
}

.top_bottom_div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left_right_div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn_top {
    border-style: none;
    background-color: transparent;
    background-image: url('../images/6.Botones/Key/top.png');
    background-size: cover;
}

.btn_bottom {
    border-style: none;
    background-color: transparent;
    background-image: url('../images/6.Botones/Key/bottom.png');
    background-size: cover;
}

.btn_bobble {
    border-style: none;
    background-color: transparent;
    background-image: url('../images/6.Botones/Key/bobble.png');
    background-size: cover;
}

.btn_left {
    border-style: none;
    background-color: transparent;
    background-image: url('../images/6.Botones/Key/left.png');
    background-size: cover;
}

.btn_right {
    border-style: none;
    background-color: transparent;
    background-image: url('../images/6.Botones/Key/right.png');
    background-size: cover;
}

.responsive_button {
    display: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.responsive_button:hover {
    scale: 1.05;
}

.key_img {
    width: 700px;
}

.btn_close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    background-color: transparent;
    color: red;
    border: none;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.btn_close:hover {
    scale: 1.03;
}

.menu_control {
    display: none;
    justify-content: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.100);
    width: 720px;
    height: 480px;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
}

.menu_description {
    display: none;
    justify-content: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.100);
    width: 720px;
    height: 480px;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
}

.menu_description img {
    width: 300px;
}

.menu_description p {
    color: white;
    padding: 20px;
    margin: 30px;
    background-color: #582988d2;
}

.menu_enemies {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    display: none;
    position: relative;
    background-color: rgba(255, 255, 255, 0.100);
    width: 720px;
    height: 480px;
    border-radius: 5px;
    align-items: center;
    gap: 10px;
}

.menu_enemies img {
    width: 100px;
}

.menu_enemies p {
    margin: 0;
    color: white;
    padding: 10px;
    font-size: 13px;
}

.menu_enemies div {
    width: 160px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #582988d2;
    border-radius: 5px;
}

.menu_items {
    display: none;
    justify-content: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.100);
    width: 720px;
    height: 480px;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
}

.menu_items p {
    color: white;
    padding: 20px;
    margin: 30px;
    background-color: #582988d2;
}

.menu_items img {
    width: 70px;
}

.menu_impressum {
    display: none;
    justify-content: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.100);
    width: 720px;
    height: 480px;
    border-radius: 5px;
}

.impressum {
    background-color: rgba(255, 255, 255, 0.63);
    padding: 20px 20px;
    border-radius: 5px;
    overflow-y: auto;
}







.game_screen {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: transparent;
    width: 720px;
    height: 480px;
    border-radius: 5px;
    justify-content: space-between;
}

.screen_top {
    margin: 5px;
    display: flex;
    justify-content: right;
    gap: 5px;
}

.screen_img {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.fullScreen_img {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.screen_img:hover {
    scale: 1.05;
}

.screen_bottom {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.menu_img {
    width: 150px;
    height: 50px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.menu_img:hover {
    scale: 1.1;
}


.game_paused {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.301);
    width: 720px;
    height: 480px;
    border-radius: 5px;
    gap: 10px;
}

.game_paused img {
    height: 50px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.game_paused img:hover {
    scale: 1.1;
}

.game_ended {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.301);
    background-position: center;
    width: 720px;
    height: 480px;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.game_over {
    width: 500px;
    margin-bottom: 50px;
}

@media (hover: none) and (orientation: portrait) {
    body {
        background-color: white;
        background-image: none;
    }

    .btn_start {
        display: none;
    }

    .repolnsive_start {
        display: block;
    }

    .landscape {
        display: block;
        width: 100%;
    }

    .game_menu {
        display: none;
    }

    .fullScreen_img {
        display: none;
    }
}

@media (hover: none) and (orientation: landscape) {

    .game_menu {
        gap: 5px;
        width: 80%;
        height: 80vh;
    }

    .sharkie_text {
        font-size: 30px;
    }

    .sharkie_img {
        width: 100px;
    }


    .responsive_button {
        display: flex;
    }

    .btn_start {
        display: none;
    }

    .repolnsive_start {
        display: block;
    }

    .fullScreen_img {
        display: none;
    }

    .menu_control {
        width: 80%;
        height: 80vh;
    }

    .key_img {
        width: 500px;
    }

    .menu_description {
        width: 80%;
        height: 80vh;
    }

    .menu_description img {
        width: 200px;
    }

    .menu_description p {
        color: white;
        padding: 10px;
        margin: 20px;
    }

    .menu_enemies {
        width: 80%;
        height: 80vh;
    }

    .menu_enemies img {
        width: 50px;
    }

    .menu_enemies p {
        padding: 5px;
        font-size: 10px;
    }

    .menu_enemies div {
        width: 100px;
        height: 100px;
    }

    .menu_items {
        width: 80%;
        height: 80vh;
    }

    .menu_items p {
        padding: 10px;
        margin: 10px;
    }

    .menu_items img {
        width: 50px;
    }

    .menu_impressum {
        width: 80%;
        height: 80vh;
    }

    .impressum {
        padding: 10px 20px;
    }
}