body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('../images/bg2.png');
    background-size: cover;
    background-position: center;
}

canvas {
    background-color: black;
    border-radius: 5px;
    display: none;
}

a {
    color: white;
    text-decoration: none;
    transition: all 250ms ease-in-out;
}

a:hover {
    scale: 1.1;
    color: #bf067f;
}

.game_screen {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: transparent;
    width: 720px;
    height: 480px;
    border-radius: 5px;
    justify-content: space-between;
}

.screen_top {
    margin: 5px;
    display: flex;
    justify-content: right;
    gap: 5px;
}

.screen_img {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.screen_img:hover {
    scale: 1.05;
}

.screen_bottom {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.responsive_button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.responsive_button:hover {
    scale: 1.05;
}

.game_menu {
    position: absolute;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    width: 720px;
    height: 480px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.menu_img {
    width: 150px;
    height: 50px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.menu_img:hover {
    scale: 1.1;
}

.keyboard_img {
    width: 700px;
}

.game_paused {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.301);
    width: 720px;
    height: 480px;
    border-radius: 5px;
    gap: 20px;
}

.game_paused img {
    height: 50px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.game_paused img:hover {
    scale: 1.1;
}

.game_ended {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.301);
    background-position: center;
    width: 720px;
    height: 480px;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.game_over {
    width: 500px;
    margin-bottom: 50px;
}

.div_tryagain {
    display: flex;
    gap: 20px;
}

.impressum {
    background-color: rgba(255, 255, 255, 0.63);
    padding: 10px 30px;
    border-radius: 5px;
}

.top_bottom_div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .game_paused {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    canvas {
        width: 100%;
    }

    .game_paused {
        height: 100%;
    }
}

@media (hover: none) and (orientation: portrait) {}

@media (hover: none) and (orientation: landscape) {
    .responsiveButton {
        display: block;
    }
}